input {
    background-color:whitesmoke;
    color:black;
    padding: 1em 5em;
    border-radius: 0.5em;
    border:none;
    outline:none;
    transition: all 0.1s ease-out;
    position: relative;
  }
  
  input:focus {
    box-shadow: 0 2px 3px #ccc;
    border-bottom: 0.25em solid #0f5177;
    top:-2px;
  }

  .btn {
    cursor: pointer;
    
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    
    color: #fff;
  
    background: #8A2387; 
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    outline: none;
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    
  }

.btn:hover {
  filter: brightness(110%);
  border: none;
  outline:0;

}
.btn:focus {
  filter: brightness(110%);
  border: none;
  outline:0;
}

.btn:active {
  border: none; 
  transform: translate(0, 0.3rem);

}

