input {
  background-color: whitesmoke;
  color: black;
  padding: 1em 2em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  position: relative;
  margin: 5px;
  height:0.8rem;
}

.btn {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.3rem;
  border: none;
  color: #fff;
  background: #8a2387;
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  outline: none;
  padding: 0.4rem 1.8rem 0.4rem 1.8rem;
}

.btn:hover {
  filter: brightness(110%);
  border: none;
  outline: 0;
}

.btn:focus {
  filter: brightness(110%);
  border: none;
  outline: 0;
}

.btn:active {
  border: none;  
}
